#product{
    width: 1200px;
}
#product-image{
    float: left;
    width:40%;
    margin-right:10%;
}
#product-image img{
    width:100%;
    height: auto;
}
#productdetail{
    float: left;
    width:50%;
}
#producttitle {
    font-size: 24px;
    color: #331D2C;
    font-weight: 600;
    margin: 10px 0;
}
#product-description{
    font-size: 16px;
    padding:15px 0;
    line-height: 24px;
}
#product-price{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}
.subheading{
    font-size:16px;
    font-weight: 600;
    margin-top:10px;
    color: #331D2C;
}
.prodtl{
    font-size:14px;
    padding:5px 0;
}
.prodtl span{
    font-weight: 600;
}
.btn {
    padding: 10px 20px;
    text-transform: uppercase;
    margin-top: 20px;
    background-color: #331D2C;
    color: #FFF;
    border: none;
}
.menu {
    visibility: hidden;
}

.heading1 .ham:active {
    color: red;
}

.items {
    overflow: hidden;
}

.ham,
.close {
    cursor: pointer;
}